description "MiaRec Screen Recorder"
author      "MiaRec, Inc. www.miarec.com"

env EXEC={{ miarec_screen_install_dir }}/current/miarec_screen
env PIDFILE=/var/run/miarec_screen/miarec_screen.pid
env CONFFILE={{ miarec_screen_install_dir }}/current/miarec_screen.ini

start on (started networking)
stop on runlevel [!2345]

console output

# Increase open file descriptors limit
limit nofile 10240 10240

# Restart automatically proces in case of crash
respawn

# Stop respawn if it occured more than 10 times during 60 seconds period.
# This means serious problems
respawn limit 10 60

# Current working directory for MiaRec Screen process
chdir {{ miarec_screen_work_dir }}

# Enable core dumps for troubleshooting
limit core unlimited unlimited

instance miarec
exec $EXEC -c $CONFFILE --pid $PIDFILE
