# {{ ansible_managed }}

[Unit]
Description=MiaRec Screen
After=network.target

[Service]
Type=simple
User={{ miarec_screen_bin_user }}
Group={{ miarec_screen_bin_group }}
UMask={{ miarec_screen_bin_umask }}
RuntimeDirectory=miarec_screen
WorkingDirectory={{ miarec_screen_work_dir }}
ExecStart={{ miarec_screen_install_dir }}/current/miarec_screen --pid /var/run/miarec_screen/miarec_screen.pid --core unlimited -c {{ miarec_screen_install_dir }}/current/miarec_screen.ini
Restart=always
LimitNOFILE=10240
LimitFSIZE=infinity

[Install]
WantedBy=multi-user.target
